@import '../../../appStyles/app-styles.scss';

.list-header {
  height: 100%;
  width: 100%;
  padding: 0 10px;

  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .list-name-input {
    height: auto;
    width: 90%;

    input {
      font-size: 25px;
    }
  }

  .delete-list-button {
    height: auto;
    width: 80px;
  }
}
