@import '../../../appStyles/app-styles.scss';

.list-header {
  height: 100%;
  width: 100%;
  padding: 0 10px;

  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  .list-name-input {
    height: auto;
    width: 90%;

    input {
      padding-left: 5px;
      border: none;

      font-size: 25px;
      font-family: $quicksand;
    }
  }

  .delete-list-button {
    width: 100px;
    padding: 2px;

    background-color: $header;
    border: 3px solid white;
    border-radius: 15px;

    color: $light-text;
    font-size: 15px;
    font-family: $quicksand;
    font-weight: 500;
  }
}
