@import '../../../appStyles/app-styles.scss';

.list-item-row {
  height: auto;
  width: 100%;
  margin: 5px 0;
  padding: 0 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .tick-box {
    height: 30px;
    flex: 0 0 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .tick-box-input {
      height: 30px;
      width: 30px;
    }
  }

  .list-item-text {
    height: 30px;
    width: 390px;
    padding-left: 5px;

    border: none;
    border-bottom: 1px dashed black;
  }

  .delete-list-item-button {
    height: 30px;
    flex: 0 0 50px;

    font-size: 15px;
  }
}
