@import '../../appStyles/app-styles.scss';

.header-container {
  height: 100%;
  width: 100%;
  padding: 0 25px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: $header;
  opacity: 0.8;

  .header-title {
    font-size: 40px;
    color: $light-text;
  }
}
