@import '../../appStyles/app-styles.scss';

.list-of-lists {
  height: 10%;
  width: auto;
  margin: 20px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .list-container {
    .list-nav-button {
      padding: 2px 5px;
      margin: 0 5px;
      font-size: 20px;
      font-family: $quicksand;

      color: $light-text;
      border: 3px solid $light-text;
      border-radius: 15px;

      background-color: $header;
    }
  }

  .add-list-button {
    padding: 2px 5px;
    margin: 0 5px;
    font-size: 20px;
    font-family: $quicksand;

    color: $light-text;
    border: 3px solid $light-text;
    border-radius: 15px;

    background-color: transparent;
  }
}
